[{:_id "0983234", :key "0983234", :name "Steve", :email "whatever@nonsense.r-u-kidding", :entities ["424242" "234234234"], :category :player} {:_id "010101", :key "010101", :name "Gavyn", :email "dudu@dae_eat.dawhatsit", :entities ["123123"], :category :player} {:_id "5434543", :key "5434543", :name "Alex", :email "alex@awesome.internetplace", :entities ["555555"], :category :player}]